<div class="container">

    <div class="card-container ">
        <table class="striped">
            <thead>
            <th>
                   title
            </th>
            <th>
                description
            </th>
            <th>
                is done
            </th>
        </thead>
        <tbody>
            <tr *ngFor="let tache of Taches" class="hoverable striped" BorderCard="blue">
                <td>{{tache.title}}</td>
                <td>{{tache.description}}</td>
                <td>{{tache.isDone}}</td>
                
            </tr>
        </tbody>

        </table>

    </div>

</div>