<h2 class="center " id="titre">Liste des utilisateurs</h2>

<div class="container center-align m4 ">
    <div class="card-content " style="margin-top: 50px;">
      <table class="responsive-table">    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Matricule</th>
        <th>Email</th>
        <th>Age</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of Users" class="hoverable col m2 s12"  BorderCard=" #87CEEB" >
        <td>{{ user.id }}</td>
        <td>{{ user.nom }}</td>
        <td>{{ user.prenom }}</td>
        <td>{{ user.Matricule }}</td>
        <td>{{ user.Email }}</td>
        <td>{{ user.age }}</td>
        <td> <a class="waves-effect  indigo darken-4 btn" (click)=" gotoUserEdit(user)">Editer</a></td>
        <td> <a class="waves-effect orange darken-4 btn" (click)="deleteUser(user.id)">Supprimer</a></td>

      </tr>
    </tbody>
  </table>
</div>
</div>