
<nav class="navbar navbar-expand-lg navbar-dark indigo darken-4 " i>
  <div class="container">
      <a class="navbar-brand" href="#">TO DO</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav w-100 justify-content-center">
              <li class="nav-item"><a class="nav-link active" routerLink="/taches">List Tache</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/Users">Liste Users</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/add/taches">add tache</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/add/user" >add User</a></li>
          </ul>
      </div>
  </div>
</nav>

<router-outlet></router-outlet>

<div id="espace"></div>
<footer class="page-footer" id="foot">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Footer Content</h5>
          <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2025 Copyright by Adamou Moussa Hassane
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
      