<h2> </h2>
<h2></h2>
<form *ngIf="user" (ngSubmit)="onSubmit()" #UserForm="ngForm">
    <div class="row">
      <div class="col s8 offset-s2">
        <div class="card-panel">
    
          <!--  name -->
          <div class="form-group">
            <label for="nom">Nom</label>
            <input type="text" class="form-control" id="nom"
                    required
                   [(ngModel)]="user.nom" name="nom"
                   #nom="ngModel">
               <!-- si l'utilisateur a mal rensengner le nom et nom.pristine permet de valider -->
            <div [hidden]="nom.valid || nom.pristine"
                  class="card-panel red accent-1">
                   veuillez rempire le champ
                </div>
          </div>

           <!--  prenom -->
           <div class="form-group">
            <label for="prenom">Prenom</label>
            <input type="text" class="form-control" id="prenom"
                    required
                    [(ngModel)]="user.prenom"
                    name="prenom"
                   #prenom="ngModel">
               <!-- si l'utilisateur a mal rensengner le nom et nom.pristine permet de valider -->
            <div [hidden]="prenom.valid || prenom.pristine"
                  class="card-panel red accent-1">
                   veuillez rempire le champ
                </div>
          </div>
         

    <!--  name -->
    <div class="form-group">
        <label for="matricule">Matricule</label>
        <input type="text" class="form-control" id="matricule"
                required
                [(ngModel)]="user.Matricule"
                name="matricule"
               #matricule="ngModel">
           <!-- si l'utilisateur a mal rensengner le nom et nom.pristine permet de valider -->
        <div [hidden]="matricule.valid || matricule.pristine"
              class="card-panel red accent-1">
               veuillez rempire le champ
            </div>
      </div>

      <!--  email -->
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="Email"
                required
                [(ngModel)]="user.Email"
                name="email"
               #email="ngModel">
           <!-- si l'utilisateur a mal rensengner le nom et nom.pristine permet de valider -->
        <div [hidden]="email.valid || email.pristine"
              class="card-panel red accent-1">
               veuillez rempire le champ
            </div>
      </div>

      
        <!--  email -->
    <div class="form-group">
        <label for="age">Age</label>
        <input type="number" class="form-control" id="age"
                required
                [(ngModel)]="user.age"
                name="age"
               #age="ngModel">
           <!-- si l'utilisateur a mal rensengner le nom et nom.pristine permet de valider -->
        <div [hidden]="age.valid || age.pristine"
              class="card-panel red accent-1">
               veuillez rempire le champ
            </div>
      </div>
     
          
    
          
    
          <!-- Submit button  indigo darken-4-->
          <div class="divider"></div>
          <div class="section center">
            <button type="submit"
              class="waves-effect indigo darken-4 btn"
              [disabled]="!UserForm.form.valid">
              Valider</button>
          </div>
    
        </div>
      </div>
    </div>
  </form>
  <h3 *ngIf="!user" class="center">
    il  y a pas d'utilisateur
  </h3>