<form *ngIf="tache" (ngSubmit)="onSubmit()" #addTache="ngForm">
  <div class="row">
    <div class="col s8 offset-s2">
      <div class="card-panel">

        <!-- title -->
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title"
                 required [(ngModel)]="tache.title" name="title" #title="ngModel">
          <div *ngIf="title.invalid && title.touched" class="card-panel red accent-1">
            Veuillez entrer un titre.
          </div>
        </div>

        <!-- description -->
        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control" id="description"
                 required [(ngModel)]="tache.description" name="description" #description="ngModel">
          <div *ngIf="description.invalid && description.touched" class="card-panel red accent-1">
            Veuillez entrer une description de la tache.
          </div>
        </div>

        <!-- Pour les utilisateurs -->
        <div class="form-group">
          <label for="user">UserS</label>
          <select class="form-select" [(ngModel)]="selectedUserId" name="user" #userSelect="ngModel" required>
            <option [ngValue]="null" disabled selected>Choisir un utilisateur</option>
            <option *ngFor="let user of users" [ngValue]="user.id">
              {{ user.nom }} - {{ user.prenom }}
            </option>
          </select>
          <div *ngIf="userSelect.invalid && userSelect.touched" class="card-panel red accent-1 white-text">
            Veuillez sélectionner un utilisateur.
          </div>
        </div>

        <!-- Etat de la tâche  de l'app-->
        <div class="form-group">
          <label for="isDone">État de la tâche</label>
          <select class="form-select" [(ngModel)]="tache.isDone" name="isDone" #isDoneSelect="ngModel" required>
            <option [ngValue]="null" disabled selected>Choisir un état</option>
            <option [ngValue]="false">Non terminée</option>
            <option [ngValue]="true">Terminée</option>
          </select>
          <div *ngIf="isDoneSelect.invalid && isDoneSelect.touched" class="card-panel red accent-1">
            Veuillez sélectionner un état de la tache.
          </div>
        </div>

        <!-- Submit button -->
        <div class="divider"></div>
        <div class="section center">
          <button type="submit" class="waves-effect waves-light btn" [disabled]="!addTache.form.valid">
            Valider
          </button>
        </div>

      </div>
    </div>
  </div>
</form>

<h3 *ngIf="!tache" class="center">
  Aucune tâche
</h3>
